<div >
    <div class="card" style="width: 18rem; margin-top: 80px; margin-right: 30px; float: left;" >
        <img class="card-img-top" [src]="persona.avatar" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">{{persona.first_name}} {{persona.last_name}}</h5>
        <p class="card-text"  style="text-align: center;">Id del usuario es:{{persona.id}} </p>
        <p class="card-text"  style="text-align: center;">Telefono 3152047381 </p>
        <p class="card-text"  style="text-align: center;">Profesion: Desarrollador</p>
        <p class="card-text"  style="text-align: center;">Pais: Colombia</p>
        <p class="card-text"  style="text-align: center;">Ciudad: Cali </p>
        
      </div>
      
      <div class="card-body">
        
        <a href="#" class="btn btn-primary" routerLink="/">Volver</a>
      </div>
    </div>
    </div>